@tailwind screens;
@tailwind base;
@tailwind utilities;
@tailwind components;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.hidden-scroll::-webkit-scrollbar {
	width: 0 !important;
}
.dot-5 {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: black;
}
.fill-available {
	width: -webkit-fill-available;
}

@layer components {
  .btn-blue {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-3xl shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
  .btn-yellow{
	 @apply py-2 px-4 bg-yellow-550 text-white font-semibold rounded-3xl shadow-md hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:ring-opacity-75; 
  }
  .btn-gray{
	 @apply py-2 px-4 bg-gray-500 text-white font-semibold rounded-3xl shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75; 
  }
  .rounded-border{
	  @apply border rounded-xl; 
  }
  .active-border{
	  @apply rounded-border border-dashed border-yellow-550
  }
}